@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 2.4rem;
  color: #fff;

  sub {
    font-size: 40%;
    font-weight: normal;
    margin-left: 5px;
  }
}

canvas {
  background-color: #222;
}
